html, body {padding:0; margin:0; height:100%;}

#banner_image{
  padding-top: 75px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(images/s1.jpg) no-repeat center center;
  height: 93%;
  background-size: cover;
  position: relative;
}

#banner_content{
 position: relative;
 padding-top: 6%;
 padding-bottom: 6%;
 margin: auto;
 margin-top: 12%;
 margin-bottom: 12%;
 background-color: rgba(0, 0, 0, 0.7);
 max-width: 660px;
}
.panel{
  margin-top: 70px;
}

.jumbotron{
  margin-top: 50px;
  width: 50%;
  
}
.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 10px 0;
   background-color: #101010;
   color:#9d9d9d;
   text-align: center;
}
.caption{
  text-align: center;
}
.table{
  margin: auto;
  width: 50%
}
